.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 20vh;
    left: 0;
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    max-width: 90%;
    overflow: hidden;
    padding: 0;
    z-index: 30;
    justify-content: right;
}

@media (min-width: 760px) {
    .modal {
        width: 40rem;
    }
}

@media (max-width: 510px) {
    .modal {
        top: 5vh;
        max-width: 300px;
        left: calc(50%-20rem);
    }
    .modal img {
        max-width: 490px;
    }
}

