* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  display: flex;
  background-color: rgba(245, 245, 245, 255);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 410px) {
  * {
    font-size: 13px;
  }
}

@media (min-width: 411px) and (max-width: 550px) {
  * {
    font-size: 15px;
  }
}
